<!-- FORMULARIO NOVO PRODUTO-->
<div>
  <form [formGroup]="addProductForm" (ngSubmit)="handleSubmitAddProduct()">
    <div class="card flex flex-column md:flex-column gap-3 ">
      <!-- Nome Produto-->
      <input pInputText placeholder="Nome" formControlName="name">

      <!-- Categoria Produto-->
      <p-dropdown
        styleClass="w-full"
        [options]="categoriesDatas"
        [(ngModel)]="selectedCategories"
        optionLabel="name"
        optionValue="id"
        placeholder="Selecione uma categoria"
        formControlName="category_id"
      ></p-dropdown>

      <!-- Preço Produto-->
      <input pInputText placeholder="Preço" formControlName="price">

      <!-- Descrição Produto-->
      <input pInputText placeholder="Descrição" formControlName="description">

      <!-- Quantidade Produto-->
      <input pInputText placeholder="Quantidade" formControlName="amount">

      <div class="flex flex-row justify-content-center align-content-center align-items-center m-1">
        <p-button
        [disabled]="!addProductForm.valid"
        type="submit"
        label="Concluir"
        ></p-button>
      </div>
    </div>
  </form>
</div>

<!-- FORMULARIO EDITAR PRODUTO-->
<div></div>
